/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    font: 14px/25px "微軟正黑體";
    color: #292929;
}

img{
	max-width: 100%;
}
.clear{
	clear: both;
}
.header{
	width: 98%;
	padding: 2.5% 1%;	
	margin-bottom: 3%;
	background: #f38a29;
}
.header h1{
	padding-left: 3.5%;
	font-size: 48px;
	color: #FFF;
}
.header h1 span{
	font-size: 50px;
	font-weight: 100;
}
.header span{

}
.box{
	width: 100%;
	margin: 0 auto;
	margin-top: 1%;
	
}
.setting-list{
	width: 25%;
	padding-left: 2.5%;
	float: left;
}
.search{
	width: 80%;
	margin-bottom: 5%;
	margin-left: 10%;
	padding: 0 2% 1% 2%;
	border: 1px solid #ccc;
	border-bottom: solid 1px #DDDDDD;
	-webkit-box-shadow: 0 0 5px #666666;
	-moz-box-shadow: 0 0 5px #666666;
	box-shadow: 0 0 5px ##666666;
}
#search-text{
	width: 85%;
	border: none;
	outline: none;
}
#search-btn{
	width: 10%;
	background: #FFF;
	border: none;
	cursor: pointer;
}
.fb-login{
	width: 90%;
	margin: 0.5% auto;
	padding: 2%;
	padding-left: 15%;
}
.fb-login button{
	width: 100%;
	padding: 2% 0;
	background: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
}
.fb-login button i{
	width: 20%;
	color: #3b5998;
	float: left;
}
.fb-login button p{
	width: 75%;
	font-family: 微軟正黑體;
	font-size: 20px;
	line-height: 1.8;
	text-align: left;
	margin-left: 5%;
	float: left;
}
.fb-login:hover button{
	opacity: 0.6;
	border-bottom: solid 1px #A1A1A1;
	transition: 0.3s; 
}
.fb-login-hidden{
	width: 90%;
	margin: 0 auto;
	margin-left: 15%;
	padding: 2%;	
}
.fb-login-hidden a{
	text-decoration: none;
	font-size: 20px;
	color: #292929;
}
.fb-login-hidden:hover a{
	width: 92%;
	display: inline-block;
	padding: 1% 0;
	background: #3b5998;
	border-radius: 2%;
	color: #FFF;
	transition: 0.4s;
}
.my-favor{
	width: 90%;
	margin: 0.5% auto;
	padding: 2%;
	padding-left: 15%;
}
.my-favor button{
	width: 100%;
	padding: 2% 0;
	background: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
}
.my-favor button i{
	width: 20%;
	color: 	#FFCC22;
	float: left;
}
.my-favor button p{
	width: 75%;
	font-family: 微軟正黑體;
	font-size: 20px;
	line-height: 1.8;
	text-align: left;
	margin-left: 5%;
	float: left;
}
.my-favor:hover button{
	opacity: 0.6;
	border-bottom: solid 1px #A1A1A1;
	transition: 0.3s; 
}
.my-favor-hidden{
	width: 90%;
	margin: 0 auto;
	margin-left: 25%;
	padding: 0 2%;
}
.my-favor-hidden li{
	padding: 1% 0;
}
.my-favor-hidden li button{
	background: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-family: 微軟正黑體;
}
.my-favor-hidden li:hover button{
	font-size: 18px;
}
.friends-data{
	width: 90%;
	margin: 0.5% auto;
	padding: 2%;
	padding-left: 15%;
}
.friends-data button{
	width: 100%;
	padding: 2% 0;
	background: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
}
.friends-data button i{
	width: 20%;
	color: #8F008F;
	float: left;
}
.friends-data button p{
	width: 75%;
	font-family: 微軟正黑體;
	font-size: 20px;
	line-height: 1.8;
	text-align: left;
	margin-left: 5%;
	float: left;
}
.friends-data:hover button{
	opacity: 0.6;
	border-bottom: solid 1px #A1A1A1;
	transition: 0.3s; 
}
.friends-data-hidden{
	width: 90%;
	margin: 0 auto;
	margin-left: 25%;
	padding: 0 2%;
}
.route-planning{
	width: 90%;
	margin: 0.5% auto;
	padding: 2%;
	padding-left: 15%;
}
.route-planning button{
	width: 100%;
	padding: 2% 0;
	background: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
}
.route-planning button i{
	width: 20%;
	float: left;
}
.route-planning button p{
	width: 75%;
	font-family: 微軟正黑體;
	font-size: 20px;
	line-height: 1.8;
	text-align: left;
	margin-left: 5%;
	float: right;
}
#route-btn-g{
	color: #CC0000;
	position: absolute;
	left: -1%;
	top: 31%;
	z-index: 2;
}
#route-btn-l{
	color: #0000B2;
	position: absolute;
	left: 7%;
	z-index: 1;
}
.route-planning:hover button{
	opacity: 0.6;
	border-bottom: solid 1px #A1A1A1;
	transition: 0.3s; 
}
.route-planning-hidden{
	width: 90%;
	margin: 0 auto;
	margin-left: 25%;
	padding: 0 2%;
}
.route-planning-hidden input{
	width: 48%;
	outline: none;
}
.route-planning-hidden button{
	font-family: 微軟正黑體;
	padding: 1.5% 3%;
	margin-left: 50%;
	margin-top: 1.5%;
	background: #f38a29;
	border-radius: 5%;
	border: none;
	outline: none;
	cursor: pointer;
}
.route-planning-hidden button:hover{
	font-family: 微軟正黑體;
	color: #f38a29;
	background: #292929;
	transition: 0.4s;
}
.area-exploring{
	width: 90%;
	margin: 0.5% auto;
	padding: 2%;
	padding-left: 15%;
}
.area-exploring button{
	width: 100%;
	padding: 2% 0;
	background: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
}
.area-exploring button i{
	width: 20%;
	color: #2B2B2B;
	float: left;
}
.area-exploring button p{
	width: 75%;
	font-family: 微軟正黑體;
	font-size: 20px;
	line-height: 1.8;
	text-align: left;
	margin-left: 5%;
	float: left;
}
.area-exploring:hover button{
	opacity: 0.6;
	border-bottom: solid 1px #A1A1A1;
	transition: 0.3s; 
}
.area-exploring-hidden{
	width: 90%;
	margin: 0 auto;
	margin-left: 25%;
	padding: 0 2%;
}
.area-exploring-hidden p{
	color: #3b5998;
}
.area-exploring-hidden button{
	font-family: 微軟正黑體;
	padding: 1.5% 3%;
	margin-left: 50%;
	margin-top: 1.5%;
	background: #f38a29;
	border-radius: 5%;
	border: none;
	outline: none;
	cursor: pointer;
}
.area-exploring-hidden button:hover{
	font-family: 微軟正黑體;
	color: #f38a29;
	background: #292929;
	transition: 0.4s;
}
.map{
	width: 65%;
	border-left: solid 1px #292929;
	padding-left: 5%;
	margin-right: 1%;
	float: right;
}
#main-map{
	width: 96%;
	height: auto;
	overflow: hidden;
}
.footer{
	width: 100%;
	background: #292929;
	padding: 1.5% 0;
	opacity: 0.87;
	margin-top: 3%;
}
.footer p{
	color: #FFF;
	text-align: center;
}
#map-canvas{
	position: relative;
	overflow: hidden;
	width: 70%;
	float: right;
	margin-right: 1%;
	border-left: 2px solid;
}

/* infoWindow 裡面的 h2 */
.gm-style-iw h2{
	font-size: 20px;
	margin: 0.5%;
	font-weight: bold;
	font-family: "微軟正黑體";
}
.gm-style-iw p{
	font-family: "微軟正黑體";
}
.gm-style-iw span{
	font-color: #3b5998;
}
.route-now, .add-to-favorite{
	text-align: right;
	font-size: 18px;
	font-color: #f38a29;
	font-family: "微軟正黑體";
	text-decoration: underline;
	cursor: pointer;
}
@media (max-width: 480px){
	.header{
		padding-top: 6%;
		padding-bottom: 6%;
		padding-left: 0%;
		text-align: center;
		margin-bottom: 0%;
	}
	.header h1{
		font-size: 34px;
	}
	.header h1 span{
		font-size: 30px;
	}
	.setting-list{
		width: 95%;
	}
	body #map{
		width: 98%;
		height: 50%;
		padding: 0 1% 0 1%;
		top: 10px;
		margin-bottom: 15%;
	}
	.search{
		margin-left: 5%;
		padding: 2% 4% 2% 4%;
		font-size: 24px;
		margin-top: 5%;
	}
	#search-text{
		font-size: 18px;
	}
	#search-btn{
		font-size: 1em;
	}
	.fb-login,.my-favor,.friends-data,.route-planning,.area-exploring{
		padding-left: 0%;
		text-align: center;
	}
	.fb-login-hidden:hover a{
		width: 60%;
		margin-right: 0px;
	}
	.route-planning-hidden input{
		width: 60%;
		padding: 2%;
		font-size: 18px;
		margin-top: 4px;
	}
	.fb-login-hidden,.my-favor-hidden,.area-exploring-hidden,.route-planning-hidden{
		width: 68%;
		margin-left: 28%;
	}
	.my-favor-hidden{
		font-size: 24px;
	}
	.route-planning-hidden button{
		padding: 8px 15px 8px 15px;
		margin-left: 47%;
	}
	.area-exploring-hidden p{
		font-size: 18px;
	}
	.area-exploring-hidden button{
		padding: 8px 15px 8px 15px;
		margin-left: 47%;
	}
}
